In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
file = pd.read_csv("D:/Data_Set/customer_shopping_behavior.csv")
file.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [90]:
file.tail()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [91]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [92]:
file.describe(include = "all") #describe the data for more understanding the data for analysting

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [93]:
file.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [94]:
#
file["Review Rating"] = file.groupby('Category')['Review Rating'].transform(lambda x : x.fillna(x.median()))

In [95]:
file.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [96]:
file.columns = file.columns.str.lower()

In [97]:
file.columns = file.columns.str.replace(" ","_")

In [98]:
file = file.rename(columns = { 'customer_id' : 'cust_id', 
                              'purchase_amount_(usd)' : 'purchase_amount',
                              'frequency_of_purchases' : 'freq_of_purchase',
                              'subscription_status' : 'subscribe_status'}) # for simplefy the name for typing then typing code easily
file.columns

Index(['cust_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscribe_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'freq_of_purchase'],
      dtype='object')

In [99]:
file['age_group'] = pd.qcut(file['age'],q = 4,labels = [ 'young' ,'Adult','middle_age','senior']) # to group wise divide the age for using this comment

In [100]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cust_id             3900 non-null   int64
 1   age                 3900 non-null   int64
 2   gender              3900 non-null   object
 3   item_purchased      3900 non-null   object
 4   category            3900 non-null   object
 5   purchase_amount     3900 non-null   int64
 6   location            3900 non-null   object
 7   size                3900 non-null   object
 8   color               3900 non-null   object
 9   season              3900 non-null   object
 10  review_rating       3900 non-null   float64
 11  subscribe_status    3900 non-null   object
 12  shipping_type       3900 non-null   object
 13  discount_applied    3900 non-null   object
 14  promo_code_used     3900 non-null   object
 15  previous_purchases  3900 non-null   int64
 16  payment_method      3900 non-null   object
 17  freq_of_purchase    3900 non-null   object
 18  age_group           3900 non-null   category
dtypes: category(1), float64(1), int64(4), object(13)
memory usage: 552.6+ KB

In [101]:
file[['age_group','age']].head(15)

     age_group  age
0   middle_age   55
1        young   19
2   middle_age   50
3        young   21
4   middle_age   45
5   middle_age   46
6       senior   63
7        young   27
8        young   26
9   middle_age   57
10  middle_age   53
11       young   30
12      senior   61
13      senior   65
14      senior   64

In [102]:
# create new column purchase_frequency_days
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}
file['purchase_freq_days'] = file['freq_of_purchase'].map(frequency_mapping)

In [103]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cust_id             3900 non-null   int64
 1   age                 3900 non-null   int64
 2   gender              3900 non-null   object
 3   item_purchased      3900 non-null   object
 4   category            3900 non-null   object
 5   purchase_amount     3900 non-null   int64
 6   location            3900 non-null   object
 7   size                3900 non-null   object
 8   color               3900 non-null   object
 9   season              3900 non-null   object
 10  review_rating       3900 non-null   float64
 11  subscribe_status    3900 non-null   object
 12  shipping_type       3900 non-null   object
 13  discount_applied    3900 non-null   object
 14  promo_code_used     3900 non-null   object
 15  previous_purchases  3900 non-null   int64
 16  payment_method      3900 non-null   object
 17  freq_of_purchase    3900 non-null   object
 18  age_group           3900 non-null   category
 19  purchase_freq_days  3900 non-null   int64
dtypes: category(1), float64(1), int64(5), object(13)
memory usage: 583.0+ KB

In [104]:
file[['purchase_freq_days','freq_of_purchase','age_group','age']].head(10)

   purchase_freq_days freq_of_purchase   age_group  age
0                  14      Fortnightly  middle_age   55
1                  14      Fortnightly       young   19
2                   7           Weekly  middle_age   50
3                   7           Weekly       young   21
4                 365         Annually  middle_age   45
5                   7           Weekly  middle_age   46
6                  90        Quarterly      senior   63
7                   7           Weekly       young   27
8                 365         Annually       young   26
9                  90        Quarterly  middle_age   57

In [105]:
file[['promo_code_used','discount_applied']].head(15)

   promo_code_used discount_applied
0              Yes              Yes
1              Yes              Yes
2              Yes              Yes
3              Yes              Yes
4              Yes              Yes
5              Yes              Yes
6              Yes              Yes
7              Yes              Yes
8              Yes              Yes
9              Yes              Yes
10             Yes              Yes
11             Yes              Yes
12             Yes              Yes
13             Yes              Yes
14             Yes              Yes

In [106]:
#if look like both are same now we are checking both are have same or not
(file['promo_code_used'] != file['discount_applied']).all()

np.False_

In [107]:
file = file.drop('promo_code_used',axis = 1)

In [108]:
file.columns

Index(['cust_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscribe_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'freq_of_purchase', 'age_group', 'purchase_freq_days'],
      dtype='object')

In [109]:
file_1 = pd.DataFrame(file)
file_1

,cust_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscribe_status,shipping_type,discount_applied,previous_purchases,payment_method,freq_of_purchase,age_group,purchase_freq_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,middle_age,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,young,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,middle_age,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,young,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,middle_age,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,32,Venmo,Weekly,Adult,7
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,41,Bank Transfer,Bi-Weekly,middle_age,14
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,24,Venmo,Quarterly,middle_age,90
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,Weekly,Adult,7
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,33,Venmo,Quarterly,middle_age,90

In [110]:
!pip install mysql-connector-python
import mysql.connector as sql

Requirement already satisfied: mysql-connector-python in c:\users\skram\anaconda3\lib\site-packages (9.5.0)

In [119]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "root"
password = quote_plus("Ramthu@1820123")
host = "localhost"
port = "3306"
database = "customer_behaviour"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Test connection
try:
    with engine.connect() as conn:
        print("Connection successful!")
except Exception as e:
    print("Connection failed:", e)

Connection successful!

In [120]:
table_name = "customer"
file.to_sql(table_name, con=engine, if_exists="replace", index=False)
print("Data exported successfully to MySQL!")

Data exported successfully to MySQL!